@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
    width: 100%;
    background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    text-align: center;
    background-color: rgb(255, 199, 125);
    padding: 2%;
    width: auto;
    overflow: hidden;
    font-size: 40px;
    font-family: 'Roboto Slab', serif;
    align-items: center;
}

.profilepic{
    width: 10%;
    margin-left: 35%;
}

nav {
    background-color:rgba(88, 216, 255, 0.863);
    padding: 1%;
    width:auto;
    text-align: center;
}

nav a {
    padding: 20px;
    text-decoration: none;
    color: black;
    font-family: 'Roboto Slab', serif;

}

nav a:hover {
    cursor: pointer;
    color: white;
    font-size: 20px;
}

nav a:active {
    color: blue;
}

.about {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.academic {
    text-align: center;
}

.academic h2 {
    font-family: Arial, Helvetica, sans-serif;
}


#t01{
    border-collapse: collapse;
    width: 50%;
}


#t01 th {
    text-align: center;
    border: 2px solid;
    border-collapse: collapse;
    width: 50%;
    background-color: #2899c9b1;
    padding: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#t01 td {
    text-align: center;
    border: 2px solid;
    border-collapse: collapse;
    width: 50%;
    background-color: #ffffff;
    padding: 15px;
}



ul {
    text-align: center;
    display: inline-block;
}


.project img {
    display:flex;
    width: 500px;
    vertical-align:middle;
    float: right;
    align-items: center;
    margin-top: 20vh;
}

.project {
    width:100%;
    padding-top: 1%;
    background-color: aliceblue;
}

.project a{
    text-decoration:none;
    color: black;
}

.project a:hover{
    font-size: 20px;
    color:rgba(0, 0, 0, 0.404);

}

.project h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.project h3,
ul,
li {
    margin-left: 2em;
    text-align: start;
}

.skill{
    padding: 1%;
}

.skill img{
    padding: 3%;
    height: 10%;
    width: 20%;
    margin-left: 50%;
    transform: translateX(-50%);
}


.skill h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.skilltable{
    display: flex;
    justify-content:space-evenly;
}


#t02, #t03 , #t04 ,#t05{
    text-align: center;
    border-collapse: collapse;
    border: 2px solid black;
    width: 200px;
    margin-bottom: 2%;
    padding: 2%;
    height: 20vh;
}

#t02 th, #t03 th , #t04 th, #t05 th{
    border: 2px solid black;
    padding: 2%;
    background-color: burlywood;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#t02 tr ,#t03 tr , #t04 tr, #t05 tr{
    border-collapse: collapse;
}

footer {
    background-color: antiquewhite;
    padding: 2%;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 120%;
}

@media  screen and (max-width : 500px) {
    body{
        display: contents;
        background-color: #A9C9FF;
        background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
    }
}

